In [11]:
from scipy import stats
import pandas as pd

In [12]:
weight_gain_data = pd.read_csv('https://raw.githubusercontent.com/jasp-stats/jasp-desktop/4527546659fdbd0849261f22ec84e9db76adc49d/Resources/Data%20Sets/Data%20Library/2.%20T-Tests/Weight%20Gain.csv')
weight_gain_data.head()

   Weight Before  Weight After  Difference
0         122.54        135.74       13.20
1         120.78        129.36        8.58
2         131.12        145.20       14.08
3         137.06        145.64        8.58
4         163.24        173.80       10.56


Try plotting the data to get a complete picture 

- scatter
- densitiy plot

Why statistical tests?

Twenty students were recruited to take part in a study about how expressive writing affects physical health. 10 students were randomly assigned to write about thoughts and feelings associated with the most traumatic events in their lives (treatment). The other 10 students wrote about their plans for the day (control). After one month, all students rated their overall level of physical health on a scale from 0 (very poor health) to 100 (perfect health). <br> <br>
a. State the null and alternative hypotheses.

b. What t-test is most appropriate to test the claim?

c. Conduct the appropriate statistical test and report the relevant output here.

d. What is the decision about the null hypothesis? Justify your answer.

e. Report your conclusion.

You want to study how a devastating flood impacts the hope of citizens in a small rural community. 20 citizens are randomly selected to rate how hopeful they felt on a 7-point scale, where 4 is a neutral response. You want to determine if the hopefulness ratings are above or below the neutral position.


a. State the null and alternative hypotheses.

b. What t-test is most appropriate to test the claim?

c. Conduct the appropriate statistical test and report the relevant output here.

d. What is the decision about the null hypothesis? Justify your answer.

e. Report your conclusion.

A researcher wanted to determine if the communication quality of couples changes after receiving premarital counseling. Communication quality was assessed three months before and again three months after the marriage.

a. State the null and alternative hypotheses.

b. What t-test is most appropriate to test the claim?

c. Conduct the appropriate statistical test and report the relevant output here.

d. What is the decision about the null hypothesis? Justify your answer.

e. Report your conclusion.

"Weight Gain", provides weights of 16 participants before and after an eight-week period of excessive calorie intake (Moore et al., 2012, p. 425).
This data set, Weight Gain, provides weight of 16 participants before and after an eight-week period of excessive calorie intake. Specifi- cally:
“In one study, 16 non-obese adults aged 25 to 36 years, were fed 1000 calories per day in excess of the calories needed to maintain a stable body weight. The subjects maintained this diet for 8 weeks. In total they consumed 56,000 extra calories.

Weight Before - Weight in pounds (lb) measured before eight weeks of excessive calorie intake.<br>
Weight After - Weight in pounds (lb) measured after eight weeks of excessive calorie intake.<br>
Difference - Weight After - Weight Before.


a. State the null and alternative hypotheses.

b. What t-test is most appropriate to test the claim?

c. Conduct the appropriate statistical test and report the relevant output here.

d. What is the decision about the null hypothesis? Justify your answer.

e. Report your conclusion.

In [14]:
weight_gain_data = pd.read_csv('https://raw.githubusercontent.com/jasp-stats/jasp-desktop/4527546659fdbd0849261f22ec84e9db76adc49d/Resources/Data%20Sets/Data%20Library/2.%20T-Tests/Weight%20Gain.csv')
weight_gain_data.head()

   Weight Before  Weight After  Difference
0         122.54        135.74       13.20
1         120.78        129.36        8.58
2         131.12        145.20       14.08
3         137.06        145.64        8.58
4         163.24        173.80       10.56

This data set, Invisibility Cloak, provides the number of mischievous acts committed by two groups of people, those with and those with- out an invisibility cloak. Specifically:
“I imagine a future in which we have some cloaks of invisibility to test out. Given my slightly mischievous streak, the future me is interested in the effect that wearing a cloak of invisibility has on the tendency for mischief. I take 24 participants and place them in an enclosed community. The community is riddled with hidden cameras so that we can record mischievous acts. Half of the participants are given cloaks of invisibility; they are told not to tell anyone else about their cloak and that they can wear it whenever they like. I measure how many mischievous acts they perform in a week.” (Field 2017, p. 755)

In [15]:
invisible_cloak_data = pd.read_csv('https://raw.githubusercontent.com/jasp-stats/jasp-desktop/development/Resources/Data%20Sets/Data%20Library/2.%20T-Tests/Invisibility%20Cloak.csv')
invisible_cloak_data.head()

   Participant  Cloak  Mischief
0            1      0         3
1            2      0         1
2            3      0         5
3            4      0         4
4            5      0         6

We want to test whether directed reading activities in the classroom help elementary school students improve aspects of their reading ability. A treatment class of 23 third-grade students participated in these activities for eight weeks, and a control class of 23 third-graders followed the same curriculum without the activities. After the eight-week period, students in both classes took a Degree of Reading Power (DRP) test which measures the aspects of reading ability that the treatment is designed to improve. Assuming the data is normal, what type test should we use if we can assume that all of the data is normal? <br><br>
This data set, Directed Reading Activities, provides reading perfor- mance of two groups of pupils – one control group and one group that was given Directed Reading Activities. Specifically:
“An educator believes that directed reading activities in the classroom will help elementary school pupils improve their reading ability. The educator arranges for a third-grade class of 21 students to participate in these activities for a period of eight-weeks. A control class of 23 third-graders follows the same curriculum without the directed read- ing activities. At the end of the eight weeks, all students are given a Degree of Reading Power test (DRP), which measures the aspects of reading ability that the treatment is designed to improve.

In [17]:
reading_data = pd.read_csv('https://raw.githubusercontent.com/jasp-stats/jasp-desktop/development/Resources/Data%20Sets/Data%20Library/2.%20T-Tests/Directed%20Reading%20Activities.csv')
reading_data.head()

   id  group  g  drp
0   1  Treat  0   24
1   2  Treat  0   56
2   3  Treat  0   43
3   4  Treat  0   59
4   5  Treat  0   58

This data set, Kitchen Rolls, provides openness to experience scores for two groups of students, who rotated a kitchen roll either clock- wise or counterclockwise. Specifically, this data set was reported in Wagenmakers et al. (2015) who sought to replicate an original result from Topolinski and Sparenberg (2012). Participants were asked to turn a kitchen roll clockwise or counter-clockwise1 while answering a questionnaire with 12 questions regarding openness to experience.

In [19]:
weight_gain_data = pd.read_csv('https://raw.githubusercontent.com/jasp-stats/jasp-desktop/development/Resources/Data%20Sets/Data%20Library/2.%20T-Tests/Kitchen%20Rolls.csv')
weight_gain_data.head()

,ParticipantNumber,Condition,q1_check,q2_check,q1_NEO,q2_NEO,q3_NEO,q4_NEO,q5_NEO,q6_NEO,...,q12_NEO,mean_NEO,q3_check,q4_check,Include,Rotation,Age,Sex,Student,Major.Occupation
0,1,1,2,6,4,2,1,3,4,4,...,5,0.666667,5,5,True,counter,25,M,Y,Rechten
1,2,2,3,5,5,3,4,4,3,5,...,4,1.166670,8,1,True,clock,20,F,Y,Taal- en Cultuurstudies
2,3,3,7,3,4,2,4,4,4,5,...,4,0.833333,7,2,True,counter,25,F,Y,Politicologie
3,4,4,4,5,3,3,2,2,2,3,...,3,0.000000,7,4,True,clock,19,F,Y,Psychologie
4,5,1,3,3,1,1,1,3,3,4,...,2,-0.250000,5,2,True,counter,20,F,Y,Geneeskunde

A study of dementia patients in nursing homes recorded various types of disruptive behaviors every day for 12 weeks. The days were classified as moon days if they were in a three-day period centered at the day of the full moon. For each patient the average number of disruptive behaviors was computed for moon days and for all other days.

In [ ]:
moon_data = pd.read_csv('https://raw.githubusercontent.com/jasp-stats/jasp-desktop/development/Resources/Data%20Sets/Data%20Library/2.%20T-Tests/Moon%20and%20Aggression.csv')
moon_data.head()

This data set, Stereograms, provides the time it took two groups of participants to see the objects hidden in a stereogram - one group received advance information about the scene, the other group did not. Specifically:
“Frisby and Clatworthy (1975) presented random dot stereograms
to 78 participants. Each participant was asked to report how long it took them to fuse the random dot stereogram. Of the 78 participants, 35 were given extra visual information about the target image, in the form of a 3D model. The remaining participants were given no such information.

In [18]:
stereogram_data = pd.read_csv('https://raw.githubusercontent.com/jasp-stats/jasp-desktop/development/Resources/Data%20Sets/Data%20Library/2.%20T-Tests/Stereograms.csv')
stereogram_data.head()

   Unnamed: 0  fuseTime condition  logFuseTime
0           1  47.20001        NV     3.854394
1           2  21.99998        NV     3.091042
2           3  20.39999        NV     3.015534
3           4  19.70001        NV     2.980619
4           5  17.40000        NV     2.856470